.boxComplete {
    width: 100%;
    background-color: hsl(180, 25%, 40%);
    height: 100vh;
    text-align: center;

    .boxx {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 60%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: hsl(180, 50%, 40%);
        gap: 20px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .fab {
        margin-top: 0%;
        margin-left: 10px;
    }

    .table {
        align-items: center;
        height: 80%;
    }
}