.boxComplete {
    width: 100%;
    background-color: hsl(180, 50%, 40%);
    height: max-content;
    text-align: center;

    .boxx {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: hsl(180, 50%, 40%);
        gap: 20px;
    }

    .stepper {
        margin-top: 20px;
    }


    .table {
        align-items: center;
        
    }
}