@mixin button-style($padding, $margin-top: 0px) {
    display: $display-inline-block;
    padding: $padding;
    background-color: $background-color-black;
    color: $background-color-white;
    border: 1px solid $background-color-black;
    margin-top: $margin-top;

    &:hover {
        background-color: transparent;
        color: $background-color-black;
    }
}