h1 {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;

    li {
        margin: 0.5em 0;



        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: cyan;
            }
        }
    }
}