body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

div {
    color: red;
}

.content-grid {
    display: grid;
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

}

.cuadro {
    background-color: #f1f1f1;
    border: 2px solid #eb0000;
    border-radius: 15px;

}

.adentro {
    margin: 15px;
}

.c1 {
    background-color: darkgreen;
    grid-area: 1/1/11/3;
    width: 80%;
}

.c2 {
    background-color: yellow;
    grid-area: 2/3/4/9;
}

.c3 {
    background-color: blue;
    grid-area: 2/9/10/11;
}

.c4 {
    background-color: limegreen;
    grid-area: 4/3/8/6;
}

.c5 {
    background-color: deepskyblue;
    grid-area: 4/6/7/9;
}

.c6 {
    background-color: darkred;
    grid-area: 8/3/10/6;
}

.c7 {
    background-color: darkorange;
    grid-area: 7/6/10/9;
}